<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <!--
    Customize this policy to fit your own app's needs. For more guidance, see:
        https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
    Some notes:
        * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
        * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
        * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
            * Enable inline JS: add 'unsafe-inline' to default-src
    -->
  <!-- Required meta tags-->
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <!-- Color theme for statusbar -->
  <title><%= htmlWebpackPlugin.options.title %></title>

  <%= htmlWebpackPlugin.tags.headTags %>


</head>

<body>

  <div id="app"></div>


  <%= htmlWebpackPlugin.tags.bodyTags %>

  <script type="module">
    mlbc.default()
  </script>

</body>



</html>