
:root {

  --f7-theme-color: #FFB612;
  --f7-theme-color-rgb: 255, 182, 18;
  --f7-theme-color-shade: #e8a100;
  --f7-theme-color-tint: #ffc33b;

  --f7-panel-width: 290px;

  --f7-navbar-title-font-weight: 700;
  --f7-navbar-title-font-size: 16px;
  --f7-navbar-height: 62px;

  --f7-color-red: #C60C30;
  --f7-color-red-rgb: 198, 12, 48;
  --f7-color-red-shade: #a00a27;
  --f7-color-red-tint: #ec0e39;

}



















::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 15px;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 15px;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 15px;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 15px;
}

.center {
  margin: 0 auto;
}


.navbar a.link.small-only {
  display: none;
}


@media only screen and (max-width: 1024px) {
  .navbar a.link.small-only  {
    display: flex;
  }
}


.mnemonic {
  font-size: 13px;
  padding: 3px;
  margin-bottom: 3px;
}

.mnemonic .number {
  width: 20px;
  display: inline-block;
}

.mnemonic .word {
  font-weight: 700;
  margin-left: 10px;
  display: inline-block;
}



